.header{
    background-color: #c1d3fe;
    padding: 1.5rem 0;
    position: relative;
    &__nav{
        @include baseWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        @include flexColumn;
        position: absolute;
        left: 0%;
        top: 80%;
        padding: 2rem 0;
        background-color: $secondary;
        width: 100%;
        text-align: center;
        font-size: 13px;
        margin-top: -999px;
    }
    &__nav-mobile-show{
        margin: 0 auto;   
    }
    &__list-home{
        color: $secondary;
    }
    &__list-item{
        display: block;
    }
}

@media (min-width:870px){
    .header{
        position: static;
        &__nav{
            flex-direction: row;
            justify-content: space-between;
        }
        &__list{
            display:block;
            position: static;
            background-color: transparent;
            margin: 0 auto;
            padding: 0;
            text-align: right;
            font-size: 15px;
        }
        &__list-link{
            color: black;
        }
        &__list-item{
            display: inline;
            margin: 0 0.5rem;
        }
        &__list-home{
            width: 20%;
        }
        &__hamburger{
            display: none;
        }
    }
}