.home{
    width: 80%;
    padding: 2rem auto;
    margin: 0 auto;
    &__wrapper{
        @include flexColumn;
        padding: 2rem 0;
        text-align: left;
    }
    &__box{
        @include flexColumn;
        padding: 1rem 0; 
    }
    &__image{
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        border: 2px dashed $secondary;
    }
    &__description{
        margin: 0.3rem 0;
    }

}

@media (min-width: 700px){
    .home{
        &__wrapper{
            flex-direction: row;
            padding: 5rem 0;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__box{
            width: 45%;
            justify-content: space-between;
        }
    }
}