.home{
    width: 80%;
    padding: 2rem auto;
    margin: 0 auto;
    &__wrapper{
        @include flexColumn;
        padding: 2rem 0;
        text-align: left;
    }
    &__box{
        padding: 1rem 0;
    }
    &__description{
        margin: 0.3rem 0;
    }
    &__video{
        margin-top: 0.2rem;
        width: 100%;
        border: 3px dotted $secondary;
    }
}

@media (min-width: 700px){
    .home{
        &__wrapper{
            flex-direction: row;
            padding: 5rem 0;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__box{
            width: 48%;
        }
    }
}